.print {
    flex-grow: 0 !important;
    max-width: 100% !important;
    flex-basis:  100% !important;
}
.App {
    text-align: center;
    margin: 1%;
    margin-top: 1% !important;
    border-radius: 15px;
    padding: 2%;
    background-color: white;
    border: none !important;
  }
  .Frame {
    width: 16rem;
    display: flex;
    margin-right: 1rem;
    margin-left: auto;
}